<h2>Lista de usuários cadastrados:</h2>
<table class="table table-striped table-hover table-dark">
    <thead class="thead-light">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Usuario</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {{#each usuarios}}
        <tr>
            <td scope="row">{{dataValues.nome}}</td>
            <td scope="row">{{dataValues.email}}</td>
            <td scope="row">{{dataValues.usuario}}</td>
            <td scope="row">
                <!--Deletar-->
                <a href="/admin/usuarios/deletar/{{dataValues.ID}}">
                    <button class="btn btn-danger">Deletar</button></a>
                <!--Editar-->
                <a href="/admin/usuarios/editar/{{dataValues.ID}}">
                    <button class="btn btn-primary">Editar</button></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
